@using Microsoft.AspNetCore.Identity
@model OnlineStore.Data.ViewModels.ChangeRoleViewModel
@{ 
    ViewData["Title"] = "Редактирование ролей";
}
<h2>Изменение ролей для пользователя @Model.UserEmail</h2>
<a asp-action="UserList" asp-controller="Roles" class="btn btn-outline-dark">Назад</a>
<form asp-action="Edit" method="post">
    <input type="hidden" name="userId" value="@Model.UserId" />
    <div class="form-group">
        @foreach (IdentityRole role in Model.AllRoles)
        {
            <input type="checkbox" name="roles" value="@role.Name"
                   @(Model.UserRoles.Contains(role.Name) ? "checked=\"checked\"" : "") />@role.Name <br />
            }
    </div>
    <button type="submit" class="btn btn-outline-success">Сохранить</button>
</form>